*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #001925;
}

.list{
    padding: 30px 70px 10px 30px;
    position: relative;
    background: #024b3e;
    border-top: 50px solid #7ab19f;
    box-shadow: 0 0 5px rgba(214, 214, 214, 0.1);
}

.list h2{
    color: #ffffff;
    font-size: 25px;
    padding: 10px 0;
    margin-left: 10px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.list label{
    position: relative;
    display: block;
    margin: 40px 0;
    font-size: 24px;
    cursor: pointer;
}

.list i{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
}

.list span{
    height: 25px;
    position: relative;
    left: 40px;
    transition: .5s;
    color: #fff;
}

.list input[type="checkbox"]{
    -webkit-appearance: none;
}

.list input[type="checkbox"]:checked ~ i{
    top: 1px;
    border-top: none;
    border-radius: none;
    height: 15px;
    width: 25px;
    transform: rotate(-45deg);
}

.list input[type="checkbox"]:checked ~ span::before{
    transform: translateY(50%) scaleX(1);
    transform-origin: left;
    transition: transform .5s;
}

.list input[type="checkbox"]:checked ~ span{
    color:#A52A2A;
}

.list span::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: translateY(-50px) scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

#sinuca{
    margin-right: 70px;
    border: 2px solid #fff;
}